body {
  background-color: #121213;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 3rem;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  max-width: fit-content;

  display: grid;
  grid-template-columns: repeat(5, 35px);
  gap: 35px;

  margin: auto;
  margin-top: 2rem;
}

.cell {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid;
  border-radius: 3px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.border-empty {
  border-color: rgb(100, 100, 100);
}

.border-filled {
  border-color: rgb(200, 200, 200);
  animation-name: popup;
  animation-duration: 0.15s;
  animation-timing-function: linear;
}

.cell-valid {
  background-color: #538d4e;
  border-color: #538d4e;
}

.cell-misplaced {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.cell-invalid {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}

@keyframes popup {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
